# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll build files
.jekyll-cache
.jekyll-metadata
_site

# System files
.sass-cache
.DS_store
.ruby-version
.tweet-cache
assets/libs/
node_modules/
.venv

# IDE configuration files
.vscode/
.idea